%tr
  %td.title= event.title
  %td= display_date event
  %td.city= event.city
  %td.region= event.region
  %td= time_ago_in_words event.submission_time
  %th.actions{ rowspan: 1 + event.notes.size }
    = link_to validate_moderation_path event do
      %em.fa.fa-thumbs-up
      = t 'validate'
    \-
    = link_to refuse_moderation_path event do
      %em.fa.fa-thumbs-down
      = t 'refuse'
    %br
    = link_to new_moderation_note_path event, envoiParMail: :oui do
      %em.fa.fa-bullhorn
      = t '.askInfos'
    \-
    = link_to new_moderation_note_path event do
      %em.fa.fa-paperclip
      = t '.createNote'
  %td.view{ rowspan: 1 + event.notes.size }
    = link_to edit_moderation_path event do
      %em.fa.fa-arrow-circle-right

- event.notes.each do |note|
  %tr
    %td.note(colspan='5')
      = note.contents
      %em.author
        = t '.posted_by', author: note.author, date: l(note.date, format: :at)

