%tr
  %td.kind
    - if orga.kind
      %em.fa{ class: "fa-#{orga.kind.icon}",
        title: Kind.human_attribute_name("name_#{orga.kind.name}") }
  %td.name= orga.name
  %td.city= orga.city
  %td.region= orga.region
  %td= time_ago_in_words orga.submission_time
  %th.actions
    = link_to validate_orga_path orga do
      %em.fa.fa-thumbs-up
      = t 'validate'
    \-
    = link_to cancel_orga_path orga do
      %em.fa.fa-thumbs-down
      = t 'refuse'
  %td.view
    = link_to edit_orga_path orga do
      %em.fa.fa-arrow-circle-right
