%h2
  %em.fa.fa-gavel
  = title t '.title'

- if @orgas.present?
  %table.list
    %thead
      %tr
        %th(colspan='8')
          %h3
            %em.fa.fa-users
              = Orga.model_name.human.pluralize @orgas.count, I18n.locale

    - @orgas.group_by { |orga| orga.region.flag }.each do |code, orgas|
      %thead
        %tr
          %td(colspan='8')
            %h4
              - if code.present?
                = flag_icon code
                = t code.upcase, scope: :countries
              - else
                = orgas[0].region
        %tr
          %th.name(colspan='2')= Orga.human_attribute_name :name
          %th.city= Orga.human_attribute_name :city
          %th.region= Orga.human_attribute_name :region
          %th= Orga.human_attribute_name :submission_time
          %th.view(colspan='3')

      %tbody= render partial: 'orga', collection: orgas

    %tfoot
      %tr
        %td(colspan='8')
          :markdown
            #{t '.rules'}

- if @orgas.present? && @events.present?
  %hr

- if @events.present?
  %table.list
    %thead
      %tr
        %th(colspan='8')
          %h3
            %em.fa.fa-calendar
            = Event.model_name.human.pluralize @events.count, I18n.locale

    - @events.group_by { |event| event.region.flag }.each do |code, events|
      %thead
        %tr
          %td(colspan='8')
            %h4
              - if code.present?
                = flag_icon code
                = t code.upcase, scope: :countries
              - else
                = events[0].region
        %tr
          %th.title= Event.human_attribute_name :title
          %th
            = Event.human_attribute_name :start_time
            \-
            = Event.human_attribute_name :end_time
          %th.city= Event.human_attribute_name :city
          %th.region= Event.human_attribute_name :region
          %th= Event.human_attribute_name :submission_time
          %th.view(colspan='3')

      %tbody= render partial: 'event', collection: events

    %tfoot
      %tr
        %td(colspan='8')
          :markdown
            #{t '.rules'}

%fieldset.actions
  = link_to edit_user_registration_path do
    %em.fa.fa-lock
    = t('change_my_password', scope: 'devise.passwords.edit')
  \-
  = link_to destroy_user_session_path, method: :delete do
    %em.fa.fa-sign-out-alt
    = t 'logout'
