%h2= t('.title', resource: resource.model_name.human)

= form_for resource, as: resource_name,
  url: send("#{resource_name}_registration_path"),
  html: { method: :put } do |f|
  = render 'devise/shared/error_messages', resource: resource

  .field
    = f.label :login
    = f.text_field :login, autofocus: true, autocomplete: 'login'
  .field
    = f.label :email
    = f.email_field :email, autocomplete: 'email'
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      = t('.currently_waiting_confirmation_for_email',
        email: resource.unconfirmed_email)
  .field
    = f.label :firstname
    = f.text_field :firstname
  .field
    = f.label :lastname
    = f.text_field :lastname
  .field
    = f.label :password
    = f.password_field :password, autocomplete: 'new-password',
      placeholder: t('devise.shared.minimum_password_length',
      count: @minimum_password_length)
    %br/
    %i
      (#{t('.leave_blank_if_you_don_t_want_to_change_it')})
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: 'new-password'
  .field
    = f.label :current_password
    = f.password_field :current_password, autocomplete: 'current-password',
      placeholder: t('.we_need_your_current_password_to_confirm_your_changes')

  .actions= f.submit t('.update')

%h3= t('.cancel_my_account')

%p
  = t('.unhappy')
  = button_to t('.cancel_my_account'),
    send("#{resource_name}_registration_path"),
    data: { confirm: t('.are_you_sure') }, method: :delete

= link_to t('devise.shared.links.back'), :back
