%tr{ class: orga.active ? 'active' : 'inactive', title: orga.tag_list }
  %td.kind
    - if orga.kind
      %em.fa{ class: "fa-#{orga.kind.icon}",
        title: Kind.human_attribute_name("name_#{orga.kind.name}") }
  %td.name
    = orga.name
    = render partial: '/orgas/favicon', locals: { orga: orga }
  %td.city= orga.city
  %td.region= orga.region
  %td.flag= flag_icon orga.region.flag
  %td.updated_at
    - if orga.updated_at.present?
      = l orga.updated_at.to_date
  %td.tags
    - if orga.tags.count > 1
      %em.fa.fa-tags
    - elsif orga.tags.count.positive?
      %em.fa.fa-tag
  %td.url
    - if orga.url
      = link_to orga.url, target: '_blank' do
        %em.fa.fa-external-link-alt
  %td.view
    = link_to orga_path orga, q: params[:q].permit, page: params[:page] do
      %em.fa.fa-arrow-circle-right

