- unless params[:iframe]
  = render '/maps/orgas'

%h2
  %em.fa.fa-users
  = title t '.title'

= render 'types'

%table.list.autopagerize_page_element
  %thead
    %th.name(colspan='2')= sort_link @search, :name
    %th.city= sort_link @search, :city
    %th.region(colspan='2')= sort_link @search,
      :region_name, Orga.human_attribute_name(:region)
    %th.updated_at= sort_link @search, :updated_at

  %tbody= render @orgas

  %tfoot
    %tr
      %th(colspan='9')= paginate @orgas
