#map{height:22em;transition:none}#map *{max-width:initial}#map ul li a{display:inline-block}#map ul li .awesome-marker{display:inline-block !important;position:relative !important}#map .leaflet-top{margin-top:3em;text-align:left}#map section.leaflet-control-layers-list label .awesome-marker{height:auto !important;display:inline-block !important;position:relative !important}body.maps #map{height:60em}html.iframe,html.iframe body.maps,html.iframe body.maps main,html.iframe body.maps #map{width:100%;height:100%;margin:0}
