= render '/regions/filter'

%ul.list.feeds#map
  - cs = %w[red darkred orange green darkgreen purple darkpuple cadetblue]
  - idx = 0
  - Kind.all.each do |kind|
    %li
      = link_to map_path kind.name, format: :json do
        .awesome-marker{ class: "awesome-marker-icon-#{cs[idx % cs.length]}" }
          %i.icon-white.fa{ class: "fa-#{kind.icon}" }
        = Kind.human_attribute_name "name_#{kind.name}"
      - idx += 1
