%li.event{ title: display_date(event), class: event.tag_list }
  - if event.locality?
    %em.locality.fa.fa-globe
  = link_to event do
    - if event.city?
      %strong.city{ title: event.address }= event.city
    = event.title
    - if event.repeat&.positive?
      %em.fa.fa-redo-alt{ title: event.schedule }
