%h2
  %em.fa.fa-edit
  = t '.title'

- if @event.moderated?
  %h3.warning
    %em.fa.fa-exclamation-triangle
    = t '.warning'

%fieldset
  %legend
    %em.fa.fa-eye
    = t '.preview'
  = render template: '/events/show'

%fieldset
  %legend
    %em.fa.fa-edit
    = t '.edit'
  = render '/events/form'
