- if action_name == 'index' && controller_name != 'tags'
  .digest
    - if params[:tag].present?
      = render partial: '/tags/context', locals: { tags: params[:tag] }
    - else
      = render '/orgas/search'

    - if params[:tag].blank?
      = link_to page_path('filter'), class: 'filter' do
        = t 'title', scope: 'pages.filter'

    = link_to page_path('filter'), title: t('title', scope: 'pages.filter') do
      %em.fa.fa-angle-double-right
