%h2
  %em.fa.fa-filter
  = title t '.title'

:markdown
  #{t '.helper'}

%fieldset
  = form_tag events_url, method: :get do
    = hidden_field_tag 'city', params[:city]

    .field.near_location
      = label_tag 'near[location]', t('.near_location')
      = text_field_tag 'near[location]',
        params[:city] || (params[:near].present? ? params[:near][:location] : ''),
          placeholder: t('.near_location_helper')

    .field.near_distance
      = label_tag 'near[distance]', t('.near_distance')
      = number_field_tag 'near[distance]',
        params[:near].present? ? params[:near][:distance] : '',
          placeholder: t('.near_distance_helper')
      %span.helper km

    .field.region
      = label_tag :region, t('.region')
      = select_tag :region,
        options_from_collection_for_select(Region.all, :id, :name,
        params[:region]), include_blank: true

    .field.tag
      = label_tag :tag, t('.tag'), for: 'tag_tag'
      = text_field_tag :tag, params[:tag]

    .field.future
      = label_tag :future, t('.past')
      = check_box_tag :future, 'false'
      %span.helper= t '.past_helper'

    .field.iframe
      = label_tag :iframe, t('.iframe')
      = check_box_tag :iframe
      %span.helper= t '.iframe_helper'

    .actions
      = button_tag do
        %em.fa.fa-calendar
        = t '.events'

      = button_tag formaction: maps_url do
        %em.fa.fa-map
        = t '.map'

      = button_tag formaction: orgas_url do
        %em.fa.fa-users
        = t '.orgas'

      = button_tag formaction: stats_url do
        %em.fa.fa-signal
        = t '.stats'

      %br

      = button_tag formaction: maps_url(format: :json) do
        %em.fa.fa-map-pin
        = t '.geojson'

      = button_tag formaction: events_url(format: :json) do
        %em.fa {}
        = t '.json'

      = button_tag formaction: events_url(format: :rss) do
        %em.fa.fa-rss
        = t '.rss'

      = button_tag formaction: events_url(format: :ics) do
        %em.fa.fa-calendar-check
        = t '.ics'

      = button_tag formaction: events_url(format: :xml) do
        %em.fa.fa-code
        = t '.xml'

%fieldset
  = form_tag events_url, method: :get do
    .field.period_year
      = label_tag 'period[year]', t('.period_year')
      = number_field_tag 'period[year]', params['period[year]'],
        placeholder: "Ex: #{(Time.zone.today + 7.days).year}"
      .helper
        :markdown
          #{t '.period_year_helper'}
    .field.period_week
      = label_tag 'period[week]', t('.period_week')
      = number_field_tag 'period[week]', params['period[week]'],
        placeholder: "Ex: #{(Time.zone.today + 7.days).cweek}"

    .actions
      = button_tag formaction: digest_url(:markdown) do
        %em.fa.fa-hashtag
        = t '.digest'
