%aside
  - if @orgas.present?
    %h2
      = link_to orgas_path do
        %em.fa.fa-users
        = Orga.model_name.human.pluralize I18n.locale
    %ul.fa-ul
      - @orgas.each do |orga|
        %li
          = link_to orga do
            - if orga.kind
              %em.fa.fa-li{ class: "fa-#{orga.kind.icon}",
                title: Kind.human_attribute_name("name_#{orga.kind.name}") }
            = orga.name
            = render partial: '/orgas/favicon', locals: { orga: orga }

  %h2
    %em.fa.fa-link
    = t '.links'

  %ul.fa-ul
    %li
      = link_to tags_path, class: :back do
        %em.fa.fa-li.fa-arrow-left
        = Event.human_attribute_name :tags
    %li
      = link_to events_path tag: params[:id] do
        %em.fa.fa-li.fa-calendar
        Agenda
    %li
      = link_to events_path format: :rss, tag: params[:id] do
        %em.fa.fa-li.fa-rss
        RSS
    %li
      = link_to events_path format: :ics, tag: params[:id] do
        %em.fa.fa-li.fa-th-list
        iCal
    %li
      = link_to maps_path tag: params[:id] do
        %em.fa.fa-li.fa-map-marker
        OpenStreetMap
    %li
      = link_to maps_path format: :json, tag: params[:id] do
        %em.fa.fa-li.fa-dot-circle
        GeoJSON

