-# Used in pages header, event.show and tag.show

- if tags.to_s.include? 'libre-en-fete'
  - if controller_name != 'tags' && %w[show edit].include?(action_name)
    = t '.link'
  %a(href='https://www.libre-en-fete.net')
    = image_tag 'lef.png', width: '486', height: '60', alt: 'Libre en Fête',
      style: 'vertical-align: middle'

- elsif tags.include? 'linux-presentation-day'
  - if controller_name != 'tags' && %w[show edit].include?(action_name)
    = t '.link'
  %a(href='http://www.linux-presentation-day.org')
    = image_tag 'linux-presentation-day.png', width: '150', height: '75',
      alt: 'Linux presentation day', style: 'vertical-align: middle'

- elsif action_name == 'index'
  %em.fa.fa-tag
  = params[:tag]

- if action_name == 'index'
  %a(href="?tag=")
    %em.fa.fa-times
