%h2
  %em.fa.fa-tag
  = title params[:id]
  \-
  %em.fa.fa-forward
  = t '.count', count: @futures.count

- unless params[:iframe]
  = render '/maps/tag'

= render 'aside'

- @futures.each do |event|
  %article.event{ class: event.tag_list }
    %h3
      = link_to event do
        - if event.city?
          %em.city= event.city
        = event.title
    %p= [event.place_name, event.address, display_date(event)].compact.join ', '
    .description
      = sanitize event.description,
        tags: %w[p h1 h2 h3 h4 br table tr th td ul ol li a strong b em i img sub sup span],
        attributes: %w[href src width height style title name id]

- if @pasts.any?
  %h2#past
    %em.fa.fa-backward
    = t '.past'
    \-
    = t '.count', count: @pasts.count
  %ul.fa-ul
    - @pasts.each do |event|
      %li.event{ class: event.tag_list }
        = link_to event do
          - if event.locality?
            %em.locality.fa-li.fa.fa-globe
          %em.city{ title: event.address }= event.city
          = event.title
        .date= display_date event
