.simple-calendar
  %header.calendar-heading
    - if params[:year]
      = link_to start_date: start_date.beginning_of_month do
        = t('date.month_names')[start_date.month]
      = start_date.year
    - else
      = link_to '<<', calendar.url_for_previous_view
      %span.calendar-title
        = t('date.month_names')[start_date.month]
        = link_to root_path(year: start_date.year) do
          = start_date.year
      = link_to '>>', calendar.url_for_next_view

  %table.table.table-striped
    %thead
      %tr
        - date_range.slice(0, 7).each do |day|
          %th= t('date.day_names')[day.wday]
    %tbody
      - date_range.each_slice(7) do |week|
        %tr
          - week.each do |day|
            = tag.td class: calendar.td_classes_for(day) do
              - if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block)
                :ruby
                  capture_haml(day,
                               sorted_events.fetch(day, []),
                               &passed_block)
              - else
                - passed_block.call day, sorted_events.fetch(day, [])
