!= t '.body', subject: @event.title, author: @current_user || t('.submitter')

:ruby
  new = render template: '/events/show'

  former = @event
  @event = @event.paper_trail.previous_version || @event

  prev = render template: '/events/show'
  @event = former

  require 'differ/format/patch'
  Differ.format = Differ::Format::Patch
!= Differ.diff new, prev
\
= surround '<'.html_safe, '>'.html_safe do
  = edit_moderation_url @event
\
!= t '.signature'
