@import variables

.calendar-heading
  font-size: larger
  a
    &:first-child, &:last-child
      padding: 0 0.3em

em.locality.fa
  color: gray

strong.city:after, em.city:after
  content: ':'
  margin-left: 0.25em

.calendar-heading, .month
  text-transform: capitalize

body.events.index table
  width: 100%
  // So we can ellipse past events
  table-layout: fixed
  tr
    th
      text-transform: capitalize
    td
      height: 4.8em
      border: 1px solid #89B7E5
      padding: 1px
      position: relative
      vertical-align: top
      background-color: #A1C3E7
      &.past .event
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        &:hover
          white-space: initial
      &.today
        border: 1px solid #FFB578
        background-color: #FFE0C7
        .day_number
          color: #531
        .event
          a:link, a:visited
            color: #730
      &.future
        border-color: rgb(150, 207, 255)
        background-color: #C6E5FF
      &.prev-month, &.next-month
        border: none
        background-color: #ededed
        li
          color: #555
        .event
          a:link, a:visited
            color: #444

      .day_number
        float: left
        color: #111
        font-size: 0.6em
        font-weight: bolder
        letter-spacing: 2px
      &:hover .day_number
        color: black

      ul
        clear: left
        margin: 0
        padding: 0
        li
          color: #444
          margin: 0
          padding: 0
          em.fa.fa-globe
            color: red
            font-size: smaller

        .event
          padding-left: 0.2em
          img
            // For the LEF icon
            vertical-align: middle
          a:link, a:visited
            color: #111
            font-size: smaller
            &:hover
              color: black
              text-decoration: underline

.links
  float: right

.fa-rss
  color: darkorange

a#banner
  float: left

body.events.show, body.orgas.show, body.tags.show, body.pages
  main
    width: 60em
    padding: 1em
    box-shadow: 1px 1px 5px $highlight
    border-radius: 0.4em
    h2
      margin-top: 1em
html.iframe main
  box-shadow: none !important

#advises
  width: 60em
  border: 1px solid #FFB578
  border-radius: 0.2em
  padding-left: 10px
  padding-right: 10px
  background-color: #ffe0c7
  & > *:first-child
    font-size: 1.9em
    font-weight: normal
    &:before
      content: '🛈 '
  a
    color: #8F4900

.description, body.mce-content-body
  img
    margin-left: 1%
    margin-right: 1%

/* Display in events list */
article.event
  box-shadow: -1em 1em 1em -1em $highlight
  margin-left: 1em
  padding-left: 1em
  padding-bottom: 0.4em
  border-bottom-left-radius: 1em
