#map
  height: 22em
  transition: none
  *
    /* Popup are better displayed with this: */
    max-width: initial
  ul li
    a
      display: inline-block
    .awesome-marker
      display: inline-block !important
      position: relative !important

  .leaflet-top
    margin-top: 3em
    text-align: left

  // Left align the map controls placed in the top right corner
  section.leaflet-control-layers-list label .awesome-marker
    height: auto !important
    display: inline-block !important
    position: relative !important

body.maps #map
  height: 60em

html.iframe
  &, body.maps, body.maps main, body.maps #map
    width: 100%
    height: 100%
    margin: 0
