h2.warning
  color: red

.moderations, .notes
  table.list
    margin-top: 2em
    margin-bottom: 2em
    thead
      h3
        text-align: center
    td
      padding-top: 0.5em
      padding-bottom: 0.5em
      &.empty
        background-color: white
      &.note
        text-align: left
      pre
        width: 70%
        margin: auto
        padding: 5px
        overflow: auto
        text-align: left
        background-color: #eee
      em.author
        display: block
        font-size: smaller
        text-align: right
        font-style: italic
        margin-top: 15px
    th.actions
      padding: 0
      a
        padding: 0.2em
        display: inline-block
        font-weight: normal

.fa.fa-check, .fa.fa-thumbs-up
  color: green

.fa.fa-thumbs-down
  color: red
