body.stats
  h3
    text-align: center
  dl
    width: 40em
  dt
    min-width: 50%
  dt + dd + dt +dd
    border-top: 1px solid #999

table.list.dates
  width: 100%
  thead th
    height: 3em
    padding: 0 !important
    font-size: initial
    transform: rotate(-45deg)
  tbody th:first-child
    font-size: large
    text-align: right
  tbody td
    padding: 0
    a
      padding: 0 1em
      display: block

  tfoot td canvas
    width: 100% !important
    background-color: white
