%li{ class: ('selected' if params[:region] == filter_region.id.to_s) }
  - if filter_region.url.present?
    = link_to filter_region.url do
      - if filter_region.code.present?
        = flag_icon filter_region.flag
      = t filter_region.code, scope: :countries, default: filter_region.name
      %small
        %em.fa.fa-external-link-alt

  - else
    = link_to region: params[:region] == filter_region.id.to_s ? '' : filter_region do
      - if filter_region.code.present?
        = flag_icon filter_region.flag
        = t filter_region.code, scope: :countries, default: filter_region.name

      - else
        %em.fa.fa-shield-alt
        = t filter_region.name, scope: :countries, default: filter_region.name

      - if params[:region] == filter_region.id.to_s
        %em.fa.fa-times

      - elsif filter_region.region.nil? && filter_region.regions.present?
        %small
          %em.fa.fa-chevron-down

  - if filter_region.region.nil? # Quick optimisation
    %ul
      = render partial: '/regions/filter_region',
        collection: filter_region.regions
