-# Choose a region to filter events with
%ul.regions
  - if params[:near].present? && params[:near][:location].present?
    %li.selected
      %a(href="?near=")
        %em.fa.fa-map-pin
        = params[:near][:location]
        - if params[:near][:distance].present?
          %em.fa.fa-arrows-alt-h
          = params[:near][:distance]
          km
        %em.fa.fa-times
  - elsif params[:city].present?
    %li.selected
      %a(href="?city=")
        %em.fa.fa-map-pin
        = params[:city]
        %em.fa.fa-times

  - else
    %li#near-me
      %a.near-me(href="?near[distance]=1&near[location]=[me]")
        %em.fa.fa-street-view
        = t '.nearMe'

      %ul.near-me
        %li
          %a.near-me(href="?near[distance]=10&near[location]=[me]")
            %em.fa.fa-arrows-alt-h
            10km
        %li
          %a.near-me(href="?near[distance]=100&near[location]=[me]")
            %em.fa.fa-arrows-alt-h
            100km
        %li
          %a.near-me(href="?near[distance]=1000&near[location]=[me]")
            %em.fa.fa-arrows-alt-h
            1000km

  = render partial: '/regions/filter_region', collection: Region.top
